.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  width: 100%;
  background-image: url("../../assets/login-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  form {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 400px;
    padding: 20px;
    width: 100%;
    border-radius: 7px;
    // height: 640px;
    height: 570px;

    h2 {
      font-style: 20px;
      font-weight: bold;
      color: greenyellow;
      text-align: center;
    }

    button {
      height: 50px;
      width: 100%;
      background-color: black;
      color: greenyellow;
      padding: 10px;
      border-radius: 8px;
      // border: 1px solid red;
      border: 1px solid yellow;
      // border: none;
      outline: none;
      font-weight: 400;
      font-style: 18px;
      margin: 15px 0 10px 0;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        background-color: red;
      }
    }

    .formLink {
      text-align: center;
      color: greenyellow;
      padding: 10px;
    }

    .formSignUp {
      color: red;
      padding-left: 10px;
    }
    
    .line {
      position: relative;
      height: 1px;
      width: 100%;
      margin: 20px 0px;
      // background-color: #d4d4d4;

      // &::before {
      //   content: "Or";
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      //   background-color: rgba(0, 0, 0, 0.5);
      //   color: greenyellow;
      //   padding: 0 15px;
      // }
    }
   
    .facebook {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: blue;
      color: white;
      height: 50px;
      width: 100%;
      margin-top: 20px;
      border-radius: 7px;
      transition: all 0.3s ease;
      // border: 1px solid red;
      border: 1px solid yellow;

      &:hover {
        background-color: #1849aa;
      }
    }

    .facebookIcon,
    .googleImg {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }

    .facebook.google {
      background-color: #222;
      color: white;
      // border: 1px solid red;
      border: 1px solid yellow;

      &:hover {
        background-color: #000;
      }
    }
  }
}
