.genres {
  display: flex;
  gap: 5px;
  .genre{
    // background-color: var(--pink);
    background-color: red;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 4px;
    // color: white;
    color: greenyellow;
    white-space: nowrap;
  }
}
