.update {
    flex: 6;
  
    .updateWrapper {
      padding: 20px;
      display: flex;
      flex-direction: column;
      
      .updateTitle {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 400;
      }
      
      .updateContainer {
        display: flex;
        margin-top: 70px;
        border-top: 1px solid yellow;
        padding-top: 10px;
        
        form {
          flex: 1;
  
          .formItem {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            
            .formInput {
              width: 40%;
              padding: 5px;
              margin-top: 5px;
              outline: none;
              border: 1px solid red;
              
            }
            
            .profilePic {
              margin-top: 20px;
              display: flex;
              align-items: center;
  
              .profileImg {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 10px;
              }
  
              .change{
                margin-left: 10px;
                font-weight: 500;
                font-size: 13px;
                // color: teal;
                color: greenyellow;
                cursor: pointer;
              }
  
            }
            
          }
          
          .updateButton {
            margin-top: 10px;
            border: none;
            padding: 5px 10px;
            // background-color: rgb(97, 161, 161);
            background-color: rgb(11, 243, 243);
            // color: white;
            color: greenyellow;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 500;
  
            &:disabled {
              cursor: not-allowed;
              // background-color: rgb(136, 168, 168);
              background-color: rgb(16, 211, 211);
            }
          }
          
        }
  
      }
  
    }
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-left: 20px;
  }
  
  .success {
    color: green;
    font-size: 14px;
    margin-left: 20px;
  }